body {
  margin:0px;
  background-color:rgba(226, 214, 254, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:60px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:710px;
  height:531px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:531px;
}
#u2 {
  position:absolute;
  left:2px;
  top:258px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-3px;
  top:5px;
  width:700px;
  height:531px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:531px;
}
#u4 {
  position:absolute;
  left:2px;
  top:258px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:45px;
  font-family:'Candara Bold', 'Candara';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#C6E2FF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:45px;
}
#u6 {
  position:absolute;
  left:0px;
  top:5px;
  width:1400px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1140px;
  top:7px;
  width:110px;
  height:25px;
  font-family:'Candara Regular', 'Candara';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000099;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:20px;
  top:91px;
  width:390px;
  height:470px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:470px;
}
#u10 {
  position:absolute;
  left:2px;
  top:227px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:45px;
  font-family:'Candara Bold', 'Candara';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:45px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:206px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:74px;
  top:112px;
  width:283px;
  height:29px;
  font-family:'Candara Bold', 'Candara';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:29px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:180px;
  width:330px;
  height:289px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:289px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:444px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:-2px;
  top:630px;
  width:1400px;
  height:91px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:91px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1038px;
  top:657px;
  width:180px;
  height:37px;
  font-family:'Candara Bold', 'Candara';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000099;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:175px;
  top:658px;
  width:873px;
  height:35px;
  font-family:'Candara Regular', 'Candara';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#B0B7FF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:35px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:503px;
  width:330px;
  height:39px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:39px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
